<%- include("partials/head.ejs") %>

<body>


 <h1 class="p-4 bg-info text-center"> Famous Quotes - Admin Section </h1>
  <hr>

   <form action="/author/new">
     <button class="btn btn-primary">Add Authors</button>
   </form><br>

   <form action="/quote/new">
     <button class="btn btn-primary">Add Quotes</button>
   </form><br>

   <form action="/authors">
     <button class="btn btn-primary">List Authors</button>
   </form><br>
 
   <form action="/quotes">
     <button class="btn btn-primary">List Quotes</button>
   </form>
 </body>

 <%- include("partials/foot.ejs") %>

</html>
