body {
    background-color: #3c3c3c;
    color: white;
}

input[type=text] {
  width: 10%;
  padding: 0px;
  margin: 10px 0;
  box-sizing: border-box;
}

input[type=number] {
  width: 3%;
  padding: 0px;
  margin: 10px 0;
  box-sizing: border-box;
}

a {
    text-align: center;
    font-size: 1.2em;
    color: rgb(101, 224, 0);
}

footer {
    text-align: center;
}

#authorInfo {
    color: black;
}